* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}
